.menuButton:hover {
    background-color: #E9ECEF;
    border-radius: 0;
}
.menuButton {
    width: 100%;
    text-align: left;
}

.menuButton:active {
    background-color: #0d6efd;
    border-radius: 0;
}

.list-group-item{
    display: flex;
    justify-content: space-between;
}

.closeBtn{
    margin-left: 10px;
}