.card-body{
    background: #f4f2d5;
    height: 20rem;

}
.card-text{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
    overflow: hidden;
    height: 12rem;
}
.card-title{
    font-size: 0.9rem;
    padding: 0.5rem;
    align-content: space-between;
    overflow: hidden;
    height: 4rem;
}
